<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bem-vindo ao Mundo Pokémon</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="home-page">
    <div class="container">
      <h1>Bem-vindo ao Mundo Pokémon!</h1>
      <p>Explore o universo dos Pokémon e veja todos eles na nossa Pokédex!</p>
      <div class="button-container">
        <a href="/pokemon" class="pokedex-button">Acessar Pokédex</a>
      </div>
    </div>
  </body>
</html>